---
layout: default
---



	<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{ site.title }}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <!--<li>
                        <a href="#">Projects</a>
                    </li>
                    <li>
                        <a href="#">Videos</a>
                    </li>-->
                    <li>
                        <a href="/archive.html">Archive</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <!--[if IE]>
            <div class="alert alert-warning" role="alert"><p align="center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p></div>
        <![endif]-->
        <div class="row">

            <div class="col-md-12">



                <main>
                    {{ content }}
                </main>


            </div>
		</div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-3 col-sm-5">
                    <p>Copyright &copy; 2015, All rights reserved</p><p>Hosted on <a href="http://pages.github.com">Github Pages</a></p>
                </div>
                <div class="col-lg-7 col-sm-4"></div>
                <div class="col-lg-2 col-sm-3 text-center">
                    <a href="{{ site.baseurl }}/feed.xml"><img src="{{ site.baseurl }}/img/application-rss+xml.png" alt="RSS"></a>
                    <a href="https://twitter.com/compoundfraxure"><img src="{{ site.baseurl }}/img/web-twitter.png" alt="Twitter"></a>
                    <a href="https://youtube.com/c/compoundfraxure"><img src="{{ site.baseurl }}/img/web-google-youtube.png" alt="YouTube"></a>
                    <a href="https://github.com/compoundfraxure"><img src="{{ site.baseurl }}/img/web-github.png" alt="Github"></a>
                </div>
            </div>
        </footer>
    </div>
