---
layout: default
---



	<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{ site.title }}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <!--<li>
                        <a href="#">Projects</a>
                    </li>
                    <li>
                        <a href="#">Videos</a>
                    </li>-->
                    <li>
                        <a href="/archive.html">Archive</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <!--[if IE]>
            <div class="alert alert-warning" role="alert"><p align="center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p></div>
        <![endif]-->
        <div class="row">

            <div class="col-md-12">

				

                <main>
                    {{ content }}
                </main>
    

            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-3 col-sm-5">
                    <p>Copyright &copy; 2015, All rights reserved</p><p>Hosted on <a href="http://pages.github.com">Github Pages</a></p>
                </div>
                <div class="col-lg-7 col-sm-4"></div>
                <div class="col-lg-2 col-sm-3 text-center">
                    <a href="{{ site.baseurl }}/feed.xml"><i id="icon" class="fa fa-rss" style="text-shadow: rgb(177, 92, 22) 0px 0px 0px, rgb(183, 96, 22) 1px 1px 0px, rgb(190, 99, 23) 2px 2px 0px, rgb(196, 102, 24) 3px 3px 0px, rgb(202, 106, 25) 4px 4px 0px, rgb(209, 109, 26) 5px 5px 0px, rgb(215, 112, 26) 6px 6px 0px, rgb(221, 116, 27) 7px 7px 0px, rgb(228, 119, 28) 8px 8px 0px, rgb(234, 122, 29) 9px 9px 0px, rgb(240, 125, 29) 10px 10px 0px, rgb(247, 129, 30) 11px 11px 0px; font-size: 24px; color: rgb(255, 255, 255); height: 32px; width: 32px; line-height: 32px; border-radius: 20%; text-align: center; background-color: rgb(253, 132, 31);"></i></a>
                    <a href="https://twitter.com/compoundfraxure"><i id="icon" class="fa fa-twitter" style="text-shadow: rgb(54, 120, 179) 0px 0px 0px, rgb(56, 125, 185) 1px 1px 0px, rgb(58, 129, 191) 2px 2px 0px, rgb(60, 133, 198) 3px 3px 0px, rgb(62, 138, 204) 4px 4px 0px, rgb(64, 142, 210) 5px 5px 0px, rgb(65, 146, 217) 6px 6px 0px, rgb(67, 151, 223) 7px 7px 0px, rgb(69, 155, 230) 8px 8px 0px, rgb(71, 159, 236) 9px 9px 0px, rgb(73, 163, 242) 10px 10px 0px, rgb(75, 168, 249) 11px 11px 0px; font-size: 24px; color: rgb(255, 255, 255); height: 32px; width: 32px; line-height: 32px; border-radius: 20%; text-align: center; background-color: rgb(77, 172, 255);"></i></a>
                    <a href="https://youtube.com/c/compoundfraxure"><i id="icon" class="fa fa-youtube-play" style="text-shadow: rgb(149, 27, 20) 0px 0px 0px, rgb(154, 28, 21) 1px 1px 0px, rgb(160, 29, 22) 2px 2px 0px, rgb(165, 30, 22) 3px 3px 0px, rgb(170, 31, 23) 4px 4px 0px, rgb(176, 32, 24) 5px 5px 0px, rgb(181, 33, 25) 6px 6px 0px, rgb(186, 34, 25) 7px 7px 0px, rgb(192, 35, 26) 8px 8px 0px, rgb(197, 36, 27) 9px 9px 0px, rgb(202, 37, 28) 10px 10px 0px, rgb(208, 38, 28) 11px 11px 0px; font-size: 24px; color: rgb(255, 255, 255); height: 32px; width: 32px; line-height: 32px; border-radius: 20%; text-align: center; background-color: rgb(213, 39, 29);"></i></a>
                    <a href="https://github.com/compoundfraxure"><i id="icon" class="fa fa-github" style="text-shadow: rgb(85, 85, 85) 0px 0px 0px, rgb(88, 88, 88) 1px 1px 0px, rgb(92, 92, 92) 2px 2px 0px, rgb(95, 95, 95) 3px 3px 0px, rgb(98, 98, 98) 4px 4px 0px, rgb(101, 101, 101) 5px 5px 0px, rgb(104, 104, 104) 6px 6px 0px, rgb(107, 107, 107) 7px 7px 0px, rgb(110, 110, 110) 8px 8px 0px, rgb(113, 113, 113) 9px 9px 0px, rgb(116, 116, 116) 10px 10px 0px, rgb(119, 119, 119) 11px 11px 0px; font-size: 24px; color: rgb(255, 255, 255); height: 32px; width: 32px; line-height: 32px; border-radius: 20%; text-align: center; background-color: rgb(122, 122, 122);"></a>
                </div>
            </div>
        </footer>
    </div>



    

