---
layout: default
---
<h1>{{ page.title }}</h1>

{% if page.author %}
	<p class="lead">
        by {{ page.author }}
    </p>
{% endif %}

<p><span class="glyphicon glyphicon-time"></span> {{ page.date | date: "%B %-d %Y" }} &nbsp <span class="glyphicon glyphicon-comment"></span> <a href="#disqus_thread"> View Comments</a></p>

<hr>

{% if page.image %}
	<img class="img-responsive center-block" src="{{ page.image }}" alt="{{ page.caption }}">
{% endif %}

<p>{{ page.content }}</p>
<br>
<div class="well">
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES * * */
    	var disqus_shortname = 'compoundfraxure';
    
    	/* * * DON'T EDIT BELOW THIS LINE * * */
    	(function() {
        	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        	dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    	})();
	</script>
	<noscript><div class="alert alert-info" role="alert"><p align="center">Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></p></div></noscript>
</div>
